<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/Candidate_Sign_up_post" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="441" border="1">
    <tr>
      <td width="174">Name</td>
      <td width="251"><label for="Candidate Name"></label>
      <input type="text" name="Candidate_Name" id="Candidate Name" /></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td><p>
        <label>
          <input type="radio" name="Candidate_Gender" value="Male" id="CandidateGender_0" />
          Male</label>
        <br />
        <label>
          <input type="radio" name="Candidate_Gender" value="Female" id="CandidateGender_1" />
          Female</label>
        <br />
      </p></td>
    </tr>
    <tr>
      <td>DOB</td>
      <td><label for="Candidate DOB"></label>
      <input type="date" name="Candidate_DOB" id="Candidate DOB" /></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><label for="Candidate email"></label>
      <input type="text" name="Candidate_email" id="Candidate email" /></td>
    </tr>
    <tr>
      <td>Mobile</td>
      <td><label for="Candidate Mobile"></label>
      <input type="text" name="Candidate_Mobile" id="Candidate Mobile" /></td>
    </tr>
    <tr>
      <td>Place</td>
      <td><label for="Candidate Place"></label>
      <input type="text" name="Candidate_Place" id="Candidate Place" /></td>
    </tr>
    <tr>
      <td>Post</td>
      <td><label for="Candidate Post"></label>
      <input type="text" name="Candidate_Post" id="Candidate Post" /></td>
    </tr>
    <tr>
      <td>Pin</td>
      <td><label for="Candidate Pin"></label>
      <input type="text" name="Candidate_Pin" id="Candidate Pin" /></td>
    </tr>
    <tr>
      <td>Photo</td>
      <td><label for="Candidate photo"></label>
      <input type="file" name="Candidate_photo" id="Candidate photo" /></td>
    </tr>
{#    <tr>#}
{#      <td>File</td>#}
{#      <td><label for="Candidate File"></label>#}
{#      <input type="file" name="Candidate_File" id="Candidate File" /></td>#}
{#    </tr>#}
    <tr>
      <td>Username</td>
      <td><label for="Candidate username"></label>
      <input type="text" name="Candidate_Username" id="Candidate_Username" /></td>
    </tr>

    <tr>
      <td>Password</td>
      <td><label for="Candidate Password"></label>
      <input type="password" name="Candidate_Password" id="Candidate Password" /></td>
    </tr>
    <tr>
      <td>Confirm Password</td>
      <td><label for="Candidate PasswordConfirm"></label>
      <input type="password" name="Candidate_PasswordConfirm" id="Candidate PasswordConfirm" /></td>
    </tr>
   <tr>
      <td colspan="2"><input type="submit" name="Candidate Sign up" id="Candidate Sign up" value="SEND" /></td>
    </tr>
  </table>
</form>
</body>
</html>
