<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="431" border="1">
    <tr>
      <td width="144">cid</td>
      <td width="144">complaint</td>
      <td width="121">reply</td>
    </tr>
    <tr>
      <td><label for="cid"></label>
      <input type="text" name="cid" id="cid" /></td>
      <td><label for="complaint"></label>
      <input type="text" name="complaint" id="complaint" /></td>
      <td><label for="reply"></label>
      <input type="text" name="reply" id="reply" /></td>
    </tr>
  </table>
</form>
</body>
</html>
