<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/Company_Sign_up_post" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="314" border="1">
    <tr>
      <td width="164">Name</td>
      <td width="134"><label for="Name"></label>
      <input type="text" name="Name" id="Name" /></td>
    </tr>
    <tr>
      <td>Place</td>
      <td><label for="Place"></label>
      <input type="text" name="Place" id="Place" /></td>
    </tr>
    <tr>
      <td>Post</td>
      <td><label for="Post"></label>
      <input type="text" name="Post" id="Post" /></td>
    </tr>
    <tr>
      <td>PIN</td>
      <td><label for="pin"></label>
      <input type="text" name="pin" id="pin" /></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><label for="email"></label>
      <input type="text" name="email" id="email" /></td>
    </tr>
    <tr>
      <td>Website</td>
      <td><label for="website"></label>
      <input type="text" name="website" id="website" /></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><label for="phone"></label>
      <input type="text" name="phone" id="phone" /></td>
    </tr>
    <tr>
      <td>Photo</td>
      <td><label for="photo"></label>
      <input type="file" name="photo" id="photo" /></td>
    </tr>
    <tr>
      <td>Username</td>
      <td><label for="username"></label>
      <input type="text" name="username" id="username" /></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><label for="password"></label>
      <input type="password" name="password" id="password" /></td>
    </tr>

    <tr>
      <td>ConfirmPassword</td>
      <td><label for="confirmpassword"></label>
      <input type="password" name="confirmpassword" id="confirmpassword" /></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" name="CREATE" id="CREATE" value="CREATE" /></td>
    </tr>
  </table>
</form>
</body>
</html>
