<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/login_pst">
  <table width="360" border="1">
    <tr>
      <td width="127">User Name </td>
      <td width="217"><label for="username"></label>
      <input type="text" name="username" id="username" /></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><label for="password"></label>
      <input type="password" name="password" id="password" /></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" name="login" id="login" value="LogIn" /></td>
    </tr>
    <tr>
      <td colspan="2"><a href="/candidate_reg">New Candidate?</a></td>
    </tr>
    <tr>
      <td colspan="2"><a href="/company_reg">New Company?</a></td>
    </tr>
  </table>
</form>
</body>
</html>
